In [2]:
# Useful imports
import pandas as pd
import numpy as np

In [5]:
dataset = pd.read_csv("twcs.csv")

In [3]:
# shows first few rows of the data
dataset.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0

In [4]:
# Top Twitter users by number of tweets
dataset['author_id'].value_counts()

AmazonHelp      169840
AppleSupport    106860
Uber_Support     56270
SpotifyCares     43265
Delta            42253
                 ...
456282               1
456281               1
456280               1
456276               1
823870               1
Name: author_id, Length: 702777, dtype: int64

In [5]:
# Top authors by response
dataset['in_response_to_tweet_id'].value_counts()

625011.0     844
776192.0     560
37012.0      297
5965.0       185
87814.0      174
            ...
1058186.0      1
1058185.0      1
1058183.0      1
1058181.0      1
2987950.0      1
Name: in_response_to_tweet_id, Length: 1774822, dtype: int64

In [6]:
dataset['inbound'].value_counts()

True     1537843
False    1273931
Name: inbound, dtype: int64

In [39]:
# Find freqency of which day of the wk has most traffic
# Sunday has most, while Friday has least
Mon = dataset['created_at'].str.contains(r"[Mon]").sum()
Tue = dataset['created_at'].str.contains(r"[Tue]").sum()
Wed = dataset['created_at'].str.contains(r"[Wed]").sum()
Thu = dataset['created_at'].str.contains(r"[Thu]").sum()
Fri = dataset['created_at'].str.contains(r"[Fri]").sum()
Sat = dataset['created_at'].str.contains(r"[Sat]").sum()
Sun = dataset['created_at'].str.contains(r"[Sun]").sum()
Week = [Mon, Tue, Wed, Thu, Fri, Sat, Sun]
print(Week)

[1773955, 1747771, 1018258, 1194943, 454084, 1627582, 1919134]

In [51]:
# Sort by tweets by date
dataset['created_at'] = pd.to_datetime(dataset['created_at'], format= '%d/%m/%y')
# dataset['created_at'].count('m')
dataset.sort_values(by='created_at', ascending = True,inplace=True)
dataset['created_at']

706552    2008-05-08 20:13:59+00:00
706551    2008-05-08 21:04:16+00:00
1604529   2010-02-16 15:49:47+00:00
2129896   2010-03-31 15:24:29+00:00
2129894   2010-03-31 16:53:27+00:00
                     ...
537559    2017-12-03 23:12:50+00:00
537388    2017-12-03 23:13:00+00:00
531793    2017-12-03 23:13:00+00:00
533916    2017-12-03 23:13:02+00:00
524147    2017-12-03 23:14:01+00:00
Name: created_at, Length: 2811774, dtype: datetime64[ns, UTC]

In [58]:
drop = dataset[~(dataset['created_at'] < '2013-01-01')]